<div class="container">
    <div class="container_sub">
        <div class="top">
            <div class="company">
                <div class="logo">LibertEx</div>
                <div class="logo_options">
                    <div>REPUBLIC OF VSTONIA</div>
                    <div>ESTONIAN FINANCIAL</div>
                    <div>INTELLIGENCE UNIT</div>
                    <div>NO: FVR001015</div>
                    <div>NO: FVR001213</div>
                </div>
            </div>
            <div class="help">
                <div class="heading">Help</div>
            
                <div class="options">
                    <div>Risk Disciousure Statement</div>
                    <div>Legal Statement</div>
                    <div>Guide FAQ</div>
                    <div>A M L Policy</div>
                    <div>Asset Introduction</div>
                </div>
            </div>
            <div class="clause">
                <div class="heading">Clause</div>
            
                <div class="options">
                    <div>User Agrement</div>
                    <div>Refund Policy</div>
                    <div>Privacy Policy</div>
                    <div>Terms of Conditions</div>
                    <div>Listing Request</div>
                </div>
            </div>
            <div class="other">
                <div class="heading">Other</div>
                <div class="options">
                    <div>About Us</div>
                    <div>Announcement</div>
                    <div>Fee</div>
                    
                    <div class="social">Social Media</div>
               
            </div>
        </div>
        <div class="copy_right">
            <div class="copy">
                &copy;2018-19 Libertex Ltd | Punane 82, Lasnamae district, Talinm, Harju Country. 13619
            </div>
            <div class="licence">
                Licence Number: FVR001015 | FVR001218
            </div>
        </div>
    </div>
</div>