<div class="container">
    <ul class="head_info_nav1">
        <li class="head_info_nav1_list">
            <a href="" class="head_info_nav1_link">
                <span class="part1">BTC</span>
                <span class="part2">: $3213</span>
            </a>
        </li>
        <li class="head_info_nav1_list">
            <a href="" class="head_info_nav1_link">
                <span class="part1">ETH</span>
                <span class="part3">: $3213</span>
            </a>
        </li>
        <li class="head_info_nav1_list">
            <a href="" class="head_info_nav1_link">
                <span class="part1">BCH</span>
                <span class="part3">: $3213</span>
            </a>
        </li>
    </ul>
    <ul class="head_info_nav2">
        <li class="head_info_nav2_list">
            <a href="" class="head_info_nav2_link">
               Media
            </a>
        </li>
        <li class="head_info_nav2_list">
            <a href="" class="head_info_nav2_link">
                Afflizte
            </a>
        </li>
        <li class="head_info_nav2_list">
            <a href="" class="head_info_nav2_link">
               Cantact Us
            </a>
        </li>
    </ul>
</div>