<div class="container">
    <div class="container_logo">
        LibertEx
    </div>
    <div class="container_nav">
        <ul class="nav">
            <li class="nav_list1">
                <a href="" class="nav_list_a">TRADE</a>
            </li>
            <li class="nav_list2">
                <a href="" class="nav_list_a">IEO</a>
            </li>
            <li class="nav_list3">
                <a href="" class="nav_list_a">LANCH PAD</a>
            </li>
            <li class="nav_list4">
                <a href="" class="nav_list_a">LISTING REQUEST</a>
            </li>
        </ul>
    </div>
    <div class="container_signup_login">
        LOGIN &nbsp; | &nbsp; SIGN UP
    </div>
</div>