.container{
    height: 100%;
    background-color:#000033;
    color: #ffffff;
    clear: both;
}
.container_logo {
    display: inline-block;
    width: 23%;
    font-size: 165%;
    text-align: right;
    padding-right:2%;
    font-weight: bold;
    padding-top: .5%;
}
.container_nav{
    display: inline-block;
    width: 47%;
    padding-left: 3%;
}
.container_signup_login {
    display: inline-block;
    width: 17%;
    text-align: right;

}
.nav {
    list-style-type: none;
    padding: 0;
}
.nav_list1{
    display: inline-block;
    width: 10%;
}
.nav_list2{
    display: inline-block;
    width: 7%;
}
.nav_list3{
    display: inline-block;
    width: 16%;
}
.nav_list4{
    display: inline-block;
    width: 20%;
}
.nav_list_a{
    text-decoration: none;
    color: #ffffff;
}